//colors
$color-blue-1: #63d1bb;
$color-blue-2: #56c3b2;
$color-blue-3: #62d1ba;
$color-blue-4: #59d5bc;
$color-blue-5: #46c1ae;
$color-gray-1: #f1f1f1;
$color-gray-2: #444;
$color-gray-3: #ececec;
$color-gray-4: #e5e5e5;
$color-gray-5: #d3d2d2;
$color-gray-6: #ccc;
$color-gray-7: #7c7c7c;
$color-gray-8: #c7c7c7;
$color-gray-10: #ccc;
$color-black-1: #000;
$color-white-1: #fff;
$color-white-2: rgba(255, 255, 255, 0.3);
$color-red-1: #f0b1b1;

//fonts (альтернативные шрифты указываются в миксине set-font-family)
$font-1: Verdana;
$font-2: Tahoma;
$font-3: Geneva;
$webfont-1: "OpenSans";
$webfont-2: "OpenSans Bold";
$header-section-mobile: 24px;
$header-section-tablet: 40px;
$header-section-desktop: 50px;

//break points
$mobile-size: 320px;
$tablet-size: 768px;
$tablet-size-1: 767px;
$desktop-size: 1150px;
