.about-shop {
  padding: 30px;
  border: 1px red dashed;
}

.about-shop__title {
  margin: 25px 0;
  @include set-font-style(24px, 30px);
}

.about-shop__descr {
    @include set-font-style(16px, auto);
}

.about-shop__list {
  @include list-style-none();
}
