.catalog-list {
  @include list-style-none(30px);
}

@media (min-width: $tablet-size) {
  .catalog-list {
    margin-top: 32px;
    padding: 50px;
  }
}

@media (min-width: $desktop-size) {
  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}
