.content-header {
  background-color: $color-gray-1;
  padding: 60px 39px;
}

.content-header__title {
  @include set-font-style($header-section-mobile, normal);
  text-align: center;
}

@media (min-width: $tablet-size) {
  .content-header {
    position: relative;
    margin-top: -53px;
    overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        bottom: -25px;
        left: -50px;
        display: block;
        width: calc(100% + 100px);
        height: 35px;
        background-image: url("../img/bg-zigzag-fill.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }
  }

  .content-header__title {
    margin-top: 37px;
    @include set-font-style($header-section-tablet, normal);
  }
}

@media (min-width: $desktop-size) {
  .content-header {
    min-height: 163px;
    margin-top: -58px;

    &::after {
      bottom: 0;
      left: -17px;
      width: calc(100% + 200px);
    }
  }

  .content-header__title {
    @include set-font-style($header-section-desktop, normal);
  }
}
