.contacts {
  padding: 0 30px;
  padding-top: 60px;

  & .btn {
    width: 100%;
    margin: 39px 0;
  }
}

.contacts__title {
  margin: 24px 0;
  @include set-font-style($header-section-mobile, normal);
}

.contacts__info {
  @include list-style-none();
  @include set-font-family($webfont-1, $font-1);
  @include set-font-style(14px, 30px, normal);
  color: $color-gray-2;
}

.contacts__info-value a {
  @include set-font-family($webfont-1, $font-1);
  @include set-font-style(14px, 30px, normal);
  color: $color-gray-2;
  border-bottom: 1px $color-blue-3 solid;

  &:hover {
    color: $color-blue-5;
  }

  &:active {
    color: $color-blue-5;
    opacity: 0.3;
  }
}

.contacts__info-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.contacts__info-name {
  display: block;
  width: 78px;
}

.contacts__info-value {
  display: block;
}

.contacts__map {
  height: 457px;
  width: $mobile-size;
  margin: 0 -30px;
  background: green;
}

@media (min-width: $tablet-size) {
  .contacts {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 45px;
    padding-top: 140px;
    padding-bottom: 18px;

    &::before {
      content: '';
      position: absolute;
      top: 68px;
      left: -10px;
      display: block;
      height: 23px;
      width: calc(100% + 20px);
      background-image: url("../img/bg-zigzag-line.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .contacts__title {
    position: relative;
    margin: 0;
    margin-top: 3px;
    @include set-font-style($header-section-tablet, normal);

    &::after {
      content: '';
      position: absolute;
      top: -10px;
      right: 10px;
      display: block;
      height: 81px;
      width: 46px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contacts__info {
    display: flex;
    padding-top: 55px;
  }

  .contacts__info-item {
    @include set-font-style(16px, 30px, normal);

    &:nth-child(1) {
      margin-right: 90px;
    }
  }

  .contacts__map {
    width: $tablet-size;
    margin: 27px -45px;
  }

  .contacts .btn {
      width: 230px;
      margin-top: 27px;
      align-self: center;
  }
}

@media (min-width: $desktop-size) {
  .contacts {
    position: relative;
    margin-left: 175px;
    padding-top: 142px;
    padding-bottom: 60px;

    &::before {
      top: 64px;
      left: -178px;
      width: calc(100% + 350px);
    }
  }

  .contacts__title {
    width: 50%;
    padding-top: 85px;
    @include set-font-style($header-section-desktop, normal);

    &::after {
      top: 78px;
      left: -108px;
    }
  }

  .contacts__info {
    flex-direction: column;
    padding-top: 46px;
  }

  .contacts__map {
    position: absolute;
    right: 97px;
    top: 133px;
    width: 525px;
  }

  .contacts .btn {
    width: 230px;
    margin: 49px 4px;
    align-self: flex-start;
  }
}
