.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 69px;
  min-height: 80px;
  @include set-font-style(18px, 18px);
}

.copyright__title {
  margin-right: 15px;
}

.copyright__link {
  display: block;
  margin-top: 5px;
  font-size: 0;
}

.copyright__link svg {
  fill: $color-blue-1;
}

@media (min-width: $tablet-size) {
  .copyright {
    min-height: 90px;
    padding: 0;

    &:active {
      opacity: 0.3;
    }
  }

  .copyright__link {
    margin-top: 15px;
  }
}
