.form-list {
  @include list-style-none();
  padding-top: 5px;
  padding-bottom: 10px;

  &--name {
    margin-top: 13px;
  }
}

.form-list__input {
  display: none;
}

.form-list__label {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin-top: 19px;
  @include set-font-family();
  @include set-font-style(16px, normal);
  color: $color-black-1;

  &--radio,
  &--checkbox {
    display: flex;
    align-items: center;
    min-height: 44px;
    padding-left: 60px;
  }
}

.form-list__text-wrapper {
  position: relative;
  width: 100%;
}

.form-list__text-wrapper svg {
  position: absolute;
  bottom: 13px;
  right: 5px;
  fill: $color-gray-10;
}

.form-list__text {
  box-sizing: border-box;
  height: 53px;
  width: 100%;
  border: none;
  border-bottom: 2px $color-black-1 solid;
  background-color: $color-white-1;
  border-radius: 0;
  outline: none;

  &--phone {
    margin-top: 7px;
  }

  &--email {
    margin-top: 5px;
    background-image: url("../img/symbols.svg#icon-mail");
    fill: black;
  }
}

.form-list__textarea {
  box-sizing: border-box;
  height: 150px;
  width: 100%;
  margin-top: 35px;
  padding: 15px;
  border: 2px $color-gray-2 solid;
  background-color: $color-white-1;
  outline: none;
  resize: none;
}

.form-list__input[type="radio"] + span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 37px;
  background-color: transparent;
  border: 2px $color-gray-2 solid;
  border-radius: 50%;
  cursor: pointer;
}

.form-list__input[type="radio"]:checked + span::after {
  content: "";
  position: absolute;
  display: block;
  top: 13px;
  left: 13px;
  width: 14px;
  height: 16px;
  border-radius: 50%;
  background-color: $color-blue-3;
  z-index: 100;
}

.form-list__input[type="checkbox"] + span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 37px;
  height: 37px;
  background-color: transparent;
  border: 2px $color-gray-2 solid;
  cursor: pointer;
}

.form-list__input[type="checkbox"]:checked + span::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 9px;
  display: block;
  width: 22px;
  height: 17px;
  background-color: transparent;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: -5px -5px;
  z-index: 100;
}

.knitting-order__footer {
  display: flex;
  justify-content: center;

  & .btn {
    width: 100%;
    margin: 40px 30px;
  }
}

@media (min-width: $tablet-size) {
  .form-list {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    padding: 15px 0;
  }

  .form-list__text-wrapper svg {
    right: 20px;
  }

  .form-list__input[type="radio"] + span::before {
    width: 49px;
    height: 47px;
  }

  .form-list__input[type="checkbox"] + span::before {
    width: 51px;
    height: 48px;
  }

  .form-list__input[type="radio"]:checked + span::after {
    top: 16px;
    left: 16px;
    width: 20px;
    height: 20px;
  }

  .form-list__input[type="checkbox"]:checked + span::after {
    top: 20px;
    left: 18px;
  }

  .form-list__label {
    margin-top: 17px;
    margin-bottom: 14px;
    @include set-font-style(18px, normal);

    &--radio {
      min-height: 46px;
      padding-left: 80px;
    }

    &--checkbox {
      width: 250px;
      min-height: 50px;
      padding-left: 80px;
      margin-top: 12px;
    }
  }

  .form-list--name {
    display: flex;
    flex-direction: column;
    margin-top: 3px;

    & .form-list__item {
      display: flex;
      width: 100%;
      margin-bottom: 20px;
      margin-top: 3px;
    }

    & .form-list__text {
      margin-left: 25px;
      padding-left: 20px;
      flex-grow: 2;
    }
  }

  .form-list__text-wrapper {
    flex-grow: 2;
    margin-left: 45px;
  }

  .form-list__text--phone {
    padding-left: 20px;
    margin-top: 15px;
    background-color: $color-gray-1;
  }

  .form-list__text--email {
    padding-left: 20px;
    margin-top: 20px;
    background-color: $color-gray-1;
  }

  .form-list__textarea {
    flex-grow: 2;
    padding-left: 20px;
    margin-left: 45px;
    margin-top: 32px;
  }

  .knitting-order__footer {
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;

    & .btn {
      width: 230px;
      margin: 0;
    }
  }
}

@media (min-width: $desktop-size) {
  .form-list__label {
    &--radio {
      width: 450px;
    }

    &--checkbox {
      width: 265px;
    }
  }

  .form-list__text,
  .form-list__textarea {
    margin-right: 175px;

    &--error {
      border-color: $color-red-1;
    }
  }

  .form-list__textarea {
    margin-left: 40px;
  }

  .form-list__label--radio:hover span::before,
  .form-list__label--checkbox:hover span::before,
  .form-list__text:hover,
  .form-list__text:focus,
  .form-list__textarea:hover,
  .form-list__textarea:focus {
    border-color: $color-blue-3;
  }

  .form-list__text--phone:hover ~ svg,
  .form-list__text--email:hover ~ svg {
      fill: $color-blue-3;
    }

    .form-list__text--phone:focus ~ svg,
    .form-list__text--email:focus ~ svg {
        fill: $color-blue-3;
    }

  .form-list__label--radio:active span::before,
  .form-list__label--checkbox:active span::before {
    border-color: $color-gray-8;
  }

  .form-list__text-wrapper {
    margin-right: 175px;
  }
}
