.form-list {
  @include list-style-none();
}

.form-list__input {
  display: none;
}

.form-list__label {
  position: relative;
  display: block;
  margin-top: 25px;
  @include set-font-family();
  @include set-font-style(16px, 18px);
  color: $color-black-1;

  &--radio,
  &--checkbox {
    height: 45px;
    padding-left: 60px;
  }
}

.form-list__text {
  height: 53px;
  border: none;
  border-bottom: 2px $color-black-1 solid;
  background-color: $color-white-1;
  outline: none;

  &--not-mobile {
    display: none;
  }

  &--mobile {
    display: block;
  }
}

.form-list__textarea {
  height: 145px;
  border: 2px $color-gray-2 solid;
  background-color: $color-white-1;
  outline: none;
  resize: none;
}

.form-list__input[type="radio"] + span::before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  width: 39px;
  height: 39px;
  background-color: transparent;
  border: 2px $color-gray-2 solid;
  border-radius: 50%;
  cursor: pointer;
}

.form-list__input[type="radio"]:checked + span::after {
  content: '';
  position: absolute;
  display: block;
  top: 13px;
  left: 13px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: $color-blue-3;
  z-index: 100;
}

.form-list__input[type="checkbox"] + span::before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  width: 39px;
  height: 39px;
  background-color: transparent;
  border: 2px $color-gray-2 solid;
  cursor: pointer;
}

.form-list__input[type="checkbox"]:checked + span::after {
  content: '';
  position: absolute;
  top: 13px;
  left: 11px;
  display: block;
  width: 22px;
  height: 17px;
  background-color: transparent;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: -5px -5px;
  z-index: 100;
}

@media (min-width: $tablet-size) {
  .form-list__text {

    &--not-mobile {
      display: block;
    }

    &--mobile {
      display: none;
    }
  }
}

@media (min-width: $desktop-size) {
  .form-list__text {

    &--not-mobile {
      display: block;
    }

    &--mobile {
      display: none;
    }
  }
}
