.knitting-order {
  padding: 30px;
  border: red 1px dashed;
}

.knitting-order__descr {
  @include set-font-family($web-font-1, $main-font);
  @include set-font-style(14px, 24px, normal);
  color: $color-gray-2;
}


.knitting-order__title {
  display: block;
  margin: 28px 0;
  @include set-font-family($web-font-2, $main-font);
  @include set-font-style(16px, 16px);
  text-transform: uppercase;
  color: $color-blue-1;
}
