.logo {
 padding: 20px;
}

.logo__mobile {
  display: block;
}

.logo__tablet,
.logo__desktop {
  display: none;
}

@media (min-width: $tablet-size) {
  .logo__tablet {
    display: block;
  }

  .logo__mobile,
  .logo__desktop {
    display: none;
  }
}

@media (min-width: $desktop-size) {
  .logo__desktop {
    display: block;
  }

  .logo__mobile,
  .logo__tablet {
    display: none;
  }
}
