.main-header {
  box-sizing: border-box;
  height: 300px;
  padding: 90px 40px;
  background-color: #fff;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;


}

.main-header__title {
  margin: 0;
  @include set-font-style(24px, 30px);
  color: $color-black-1;
  text-align: center;
}

@media (min-width: $tablet-size) {
  .main-header {
    margin-top: -60px;
  }

  .main-header__title {
    @include set-font-style(40px, 50px);
  }
}

@media (min-width: $tablet-size) {
  .main-header {
    margin-top: -60px;
  }

  .main-header__title {
    @include set-font-style(50px, 57px);
  }
}
