.main-nav {
}

.main-nav__list {
  font-size: 0;
   @include list-style-none();
}

.main-nav__link {
  display: block;
  box-sizing: border-box;
  padding: 27px;
  @include set-font-family($second-font, $second-font);
  @include set-font-style(18px, 24px);
  color: $color-white-1;

  &--objects {
    background-color: $color-blue-1;
  }
  &--toys {
    background-color: $color-blue-2;
  }
}

@media (min-width: $tablet-size) {
  .main-nav__item {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
}

@media (min-width: $desktop-size) {
  .main-nav__item {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
}
