.page-footer {
  background-color: $color-gray-1;
  width: 100%;
  box-sizing: border-box;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-size) {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 28px 50px;
  }

  .page-footer__logo {
    display: flex;
    align-items: center;
    width: 175px;
  }
}

@media (min-width: $desktop-size) {
  .page-footer {
    margin-top: 45px;
  }

  .page-footer__logo {
    &:hover svg {
      fill: $color-blue-5;
    }

    &:active svg {
      fill: $color-blue-5;
      opacity: 0.3;
    }
  }
}
