.product {
  border: 1px red dashed;
  margin: 30px;

  &__title {
    @include set-font-style(16px, 24px);
  }

  &__info {
    @include set-font-family($web-font-1, $main-font);
    @include set-font-style(14px, 30px, normal);
    color: $color-gray-2;
  }

  &__price {
    @include set-font-style(16px, 24px);
  }
}
