.production-process {
  display: flex;
  flex-direction: column;
}

.production-process__img {
  position: relative;
  overflow: hidden;
  height: 150px;

  & img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    
  }
}

.production-process__title-wrapper {
  position: relative;
  border: 1px $color-gray-3 solid;
  border-bottom: none;

  & svg {
    position: absolute;
    fill: $color-blue-1;
    top: 34px;
    left: 34px;
  }
}

.production-process__title {
  max-height: 45px;
  max-width: 160px;
  margin: 30px 10px;
  margin-left: 90px;
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  @include set-font-style(16px, 24px);
}

.production-process__descr {
  @include set-font-family($web-font-1, $main-font);
  @include set-font-style(14px, 24px, normal);
  color: $color-gray-2;
}

.production-process__wrapper {
  padding: 25px;
  border: 1px $color-gray-3 solid;
  border-top: none;
}

.production-process .btn {
  width: 100%;
}

@media (min-width: $tablet-size) {
  .production-process {
    position: relative;
  }

  .production-process__img {
    order: -1;
    height: 455px;
  }


  .production-process__title-wrapper {
    margin-left: 20px;
    border: none;
  }

  .production-process__wrapper {
    padding: 50px;
    padding-top: 100px;
    border: 1px $color-gray-3 solid;
  }

  .production-process__descr {
    @include set-font-style(16px, 30px, normal);
  }

  .production-process__title {
    position: absolute;
    margin-top: 40px;
    margin-left: 100px;
    @include set-font-style(18px, 24px);
  }
}

@media (min-width: $desktop-size) {
  .production-process {
    flex-wrap: wrap;
    position: relative;
    min-height: 455px;
    padding-left: 683px;
  }

  .production-process__title {
    margin-top: 80px;
    margin-left: 30px;
    width: 60%;
  }

  .production-process__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 683px;
  }

  .production-process__wrapper {
    padding-top: 185px;
  }
}
