.social-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 80px;
  margin: 0 80px;
}

@media (min-width: $tablet-size) {
  .social-list{
    min-height: 90px;
    margin: 0 70px;
  }
}
