.social {
  display: flex;
  
  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 260px;
    margin: 0 30px;
    background-color: $color-gray-4;
  }
}

@media (min-width: $tablet-size) {
  .social {
    &::after {
      display: none;
    }
  }
}
