.social-link {
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
  font-size: 0;
}

@media (min-width: $desktop-size) {
  .social-link {
    &:hover svg {
      fill: $color-blue-5;
    }

    &:active svg {
      fill: $color-blue-5;
      opacity: 0.3;
    }
  }
}
