.top-nav__list {
 @include list-style-none();
}

.top-nav__item {
  border-bottom: 1px $color-gray-3 solid;

  &--new,
  &--sale,
  &--delivery {
    display: none;
  }

  &--search svg {
    display: none;
  }

  &--logo {
    padding: 20px;
    text-align: center;
    border-top: 1px $color-gray-3 solid;
  }

  &--basket svg {
    display: none;
  }
}

.top-nav__link {
  display: block;
  box-sizing: border-box;
  min-height: 78px;
  padding: 27px;
  padding-left: 70px;
  @include set-font-style(16px, normal);
  color: $color-black-1;
  vertical-align: middle;
}

@media (max-width: $tablet-size-1) {
  .top-nav__item--logo {
    position: relative;
  }

  .top-nav__item--hidden {
    display: none;
  }

  .top-nav__logo-hamburger {
    position: absolute;
    top: calc(50% - 7px);
    right: 31px;
    background-color: transparent;
    border: none;
    height: 14px;
    width: 20px;
    padding: 0;
    outline: none;
  }

  .top-nav__icon-hamburger {
    position:absolute;
    top: 6px;
    display: block;
    height: 2px;
    width: 20px;
    background-color: $color-black-1;
    transition-duration: 0.3s;
    transform-origin: center;

    &::before {
      content: '';
      position: absolute;
      top: -6px;
      right: 0;
      display: block;
      height: 2px;
      width: 20px;
      background-color: $color-black-1;
      transition-duration: 0.3s;
      transform-origin: center;
    }

    &::after {
      content: '';
      position: absolute;
      top: 6px;
      right: 0;
      display: block;
      height: 2px;
      width: 20px;
      background-color: $color-black-1;
      transition-duration: 0.3s;
      transform-origin: center;
    }
  }

  .top-nav__item.no-js {
    display: block;
  }

  .top-nav__logo-hamburger.no-js {
    display: none;
  }

  .top-nav__icon-hamburger.active::before {
    top: 0;
    width: 28px;
    transition-duration: 0.3s;
    transform-origin: center;
    transform: translateY(0) rotate(45deg);
  }

  .top-nav__icon-hamburger.active {
    width: 28px;
    transform-origin: center;
    background-color: transparent;
  }

  .top-nav__icon-hamburger.active::after {
    top: 0;
    width: 28px;
    transition-duration: 0.3s;
    transform-origin: center;
    transform: translateY(0) rotate(-45deg);
  }
}

@media (min-width: $tablet-size) {
  .top-nav__logo-hamburger {
    display: none;
  }

  .top-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .top-nav__item {
    &--logo {
      box-sizing: border-box;
      min-height: 88px;
      padding-left: 49px;
      padding-right: 210px;
      border-top: none;
    }

    &--search {
      position: relative;
      width: 82px;
      height: 88px;
      padding: 0;
      border: 1px $color-gray-3 solid;
      border-top: none;
    }

    &--search svg {
      position: absolute;
      top: 36px;
      left: 33px;
      display: block;

      & path {
        fill: $color-gray-5;
      }
    }

    &--catalog {
      order: 1;
      border: none;
    }

    &--knitting {
      order: 2;
      border: none;
    }

    &--delivery {
      display: block;
      order: 3;
      margin-left: auto;
      border: none;
    }

    &--basket {
      position: relative;
      flex-grow: 2;

      & svg {
        position: absolute;
        top: 34px;
        left: 30px;
        display: block;

        & path {
          fill: $color-gray-5;
        }
      }
    }
  }

  .top-nav__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 88px;

    &--search {
      font-size: 0;
      width: 82px;
      height: 88px;
    }

    &--catalog {
      min-height: 37px;
      padding: 18px;
      padding-left: 50px;
      @include set-font-style(14px, normal);
    }

    &--knitting {
      min-height: 37px;
      padding: 0 34px;
      @include set-font-style(14px, normal);
    }

    &--delivery {
      min-height: 37px;
      padding: 18px 55px;
      @include set-font-style(14px, normal, normal);
      color: $color-gray-2;
    }
  }

  .logo--hamburger {
    display: none;
  }
}

@media (min-width: $desktop-size) {
  .top-nav__item {
    &--logo {
      order: 1;
      width: 266px;
      height: 88px;
      padding: 7px 17px;
      text-align: left;
    }

    &--logo:hover img{
      opacity: 0.6;
    }

    &--logo:active img{
      opacity: 0.3;
    }

    &--search {
      order: 2;

      &:hover path {
        fill: $color-blue-1;
      }

      &:active path {
        fill: $color-blue-1;
        opacity: 0.3;
      }
    }

    &--catalog {
      order: 0;
      padding: 0px 8px;
      border-bottom: 1px $color-gray-3 solid;
      border-right: 1px $color-gray-3 solid;
    }

    &--knitting {
      padding: 0px 8px;
      order: 0;
      border-bottom: 1px $color-gray-3 solid;
    }

    &--basket {
      order: 2;

      &:hover path {
        fill: $color-blue-1;
      }

      &:active path {
        fill: $color-blue-1;
        opacity: 0.3;
      }
    }

    &--new,
    &--sale {
      display: block;
      order: 3;
      border: none;
    }
  }

  .top-nav__link {
    box-sizing: border-box;
    min-height: 88px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &--catalog {
      @include set-font-style(16px, normal);
    }

    &--knitting {
      @include set-font-style(16px, normal);
    }

    &--new{
      min-height: 37px;
      padding: 20px;
      padding-left: 50px;
      @include set-font-style(14px, normal);
    }
    &--sale {
      min-height: 37px;
      padding: 20px;
      padding-left: 40px;
      @include set-font-style(14px, normal);
    }

    &--delivery {
        min-height: 37px;
        padding: 20px;
        padding-right: 55px;
    }
  }
}
