.top-nav {
}

.top-nav__list {
 @include list-style-none();
}

.top-nav__sub-list {
  @include list-style-none();
  display: none;
}

.top-nav__list .top-nav__item--knitting,
.top-nav__list .top-nav__item--catalog {
  display: block;
}

.top-nav__link {
    display: block;
    padding: 27px;
    padding-left: 70px;
  @include set-font-style(16px, 24px);
  color: $color-black-1;
}

@media (min-width: $tablet-size) {
  .top-nav__list .top-nav__item--knitting,
  .top-nav__list .top-nav__item--catalog,
  .top-nav__item--new,
  .top-nav__item--sale {
    display: none;
  }

  .top-nav__sub-list .top-nav__item--knitting,
  .top-nav__sub-list .top-nav__item--catalog {
    display: block;
  }

  .top-nav__list {
   display: flex;
  }

  .top-nav__sub-list {
   display: flex;
  }
}

@media (min-width: $desktop-size) {
  .top-nav__sub-list {
    display: flex;
  }

  .top-nav__list .top-nav__item--knitting,
  .top-nav__list .top-nav__item--catalog {
    display: block;
  }

  .top-nav__sub-list .top-nav__item--knitting,
  .top-nav__sub-list .top-nav__item--catalog {
    display: none;
  }

  .top-nav__item--new,
  .top-nav__item--sale {
    display: block;
  }
}
