.week-product {
  display: flex;
  flex-direction: column;
  padding: 30px;

}

.week-product__titles {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.week-product__title {
  margin: 0;
  margin-right: -1px;
  @include set-font-style($header-section-mobile, normal);
  color: $color-black-1;
}

.week-product__item .btn {
  width: 100%;
}

.week-product__label {
  margin-top: 5px;
  @include set-font-family($web-font-2, $main-font);
  @include set-font-style(16px, 16px);
  color: $color-blue-1;
  text-transform: uppercase;
}

.week-product__descr {
  margin: 0;
  padding: 20px 0;
  @include set-font-family($web-font-1, $main-font);
  @include set-font-style(14px, 24px, normal);
  color: $color-gray-2;
}

.week-product__prop {
  padding: 0;
  margin: 0;
  @include set-font-family($web-font-1, $main-font);
  @include set-font-style(14px, 20px, normal);
  color: $color-gray-2;
}

.week-product__prop-item {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 9px;
  border-bottom: 1px $color-gray-3 solid;
}

.week-product__prop-name {
  box-sizing: border-box;
  width: 95px;
  padding-right: 5px;
}

.week-product__order {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.week-product__price {
  display: block;
  margin: 15px 0;
  @include set-font-style(16px, 24px);
  color: $color-gray-2;
  text-align: center;
}

.week-product__order .btn {
  margin-top: 9px;
}

.week-product__img {
  position: relative;
  overflow: hidden;
  height: 315px;
  margin-top: 27px;
  margin-bottom: 10px;

  & img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
  }
}

@media (min-width: $tablet-size) {
  .week-product {
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding: 35px 50px;
  }

  .week-product__titles {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: flex-end;
  }

  .week-product__title {
    width: 500px;
    @include set-font-style($header-section-tablet, normal);
  }

  .week-product__label {
    width: 120px;
    text-align: center;
    vertical-align: bottom;
  }

  .week-product__text {
    box-sizing: border-box;
    width: 50%;
    padding-right: 44px;
    padding-bottom: 55px;
  }

  .week-product__img {
    box-sizing: border-box;
    width: 50%;
    height: 404px;
    padding-left: 44px;
  }

  .week-product__order {
    position: absolute;
    bottom: 50px;
    box-sizing: border-box;
    left: 0;
    width: 50%;
    padding-right: 44px;
    padding-left: 50px;
  }

  .week-product__descr {
    margin: 0;
    margin-bottom: 16px;
    @include set-font-style(16px, 30px);
  }

  .week-product__prop {
    margin: 0;
    @include set-font-style(15px, 20px);
  }

  .week-product__price {
    margin: 25px 0;
    @include set-font-style(18px, 24px);
  }
}

@media (min-width: $desktop-size) {
  .week-product {
    position: relative;
    margin-top: 55px;
  }

  .week-product__label {
    order: -1;
    width: 75px;
    margin: 10px 50px;
  }

  .week-product__text {
    padding-left: 175px;
    padding-bottom: 234px;
  }

  .week-product__img {
    box-sizing: border-box;
    position: absolute;
    top: -30px;
    right: 50px;
    z-index: -1;
    width: 524px;
    height: 635px;
  }

  .week-product__titles {
    justify-content: flex-start;
  }

  .week-product__title {
    width: 545px;
    margin-top: 0;
    @include set-font-style($header-section-desktop, normal);
  }

  .week-product__order {
    width: 400px;
    margin-left: 175px;

    & .btn {
      width: 95%;
    }
  }

  .week-product__descr {
    margin-bottom: 28px;
  }
}
